node_modules
.DS_Store
.env
.env.*
apps/worker/.dev.vars
apps/web/.env
apps/worker/dist
apps/web/dist
.wrangler
wrangler.lock
*.log
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.db
*.db-wal
*.db-shm
